In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib as plt
import urllib.request, json

What data we use:
  * biggest stocks from EUROSTOX50, NASDAQ and DOW (to limit input dimensionality)
  * for the last 5 years (to have growing and volaile)
  * daily oclh
Where do we get them:
  AlphaVantage

1. Get json data for Ahold-Delhaize (symbol: AD.AMS) from alphavantage
2. Putting into a pandas datafame (just relevant data)
3. Rename columns, and
4. Transform numeric values to numeric.

In [2]:
with urllib.request.urlopen(
       "https://www.alphavantage.co/query?"
           "function=TIME_SERIES_DAILY&"
           "symbol=AD.AMS&"
           "outputsize=full&"
           "apikey=SLQLZPOJI7PGOISP") as url:
    data = json.loads(url.read().decode())
    df=pd.DataFrame.from_dict(data['Time Series (Daily)'], orient='index')
    df.rename(index=str, columns={'1. open': 'op', '2. high': 'hi', '3. low': 'lo', '4. close': 'cl', '5. volume': 'vl'}, inplace=True)
    for s in df.columns:
        df[s] = pd.to_numeric(df[s])

In [3]:
df.shape

(2633, 5)

In [4]:
df

                 op       hi       lo       cl        vl
2008-10-24   8.4786   9.7838   8.4717   9.5536  20660376
2008-10-27   9.2314   9.6020   9.2118   9.2901  12366884
2008-10-28   9.4616   9.5030   9.0955   9.1680   8514830
2008-10-29   9.5295   9.7562   9.3844   9.7321   8941008
2008-10-30   9.9277  10.1292   9.2429   9.4972   8456930
2008-10-31   9.4259   9.6480   9.3395   9.6308   9387179
2008-11-03   9.7240   9.7781   9.5790   9.7781   7096236
2008-11-04   9.6849   9.8403   9.6123   9.7885   5581700
2008-11-05   9.7954   9.8828   9.5882   9.6918   5752585
2008-11-06   9.6676   9.7551   9.3810   9.5272   7241485
2008-11-07   9.6043   9.8702   9.5421   9.7838   7748580
2008-11-10   9.9461   9.9795   9.6780   9.7263   4770586
2008-11-11   9.7781   9.9577   9.7033   9.9128   5779341
2008-11-12   9.9830  10.0141   9.5341   9.6687   7930097
2008-11-13   9.6676   9.7954   9.2314   9.5663   7046960
2008-11-14   9.8990  10.1061   9.7862  10.0141   8588322
2008-11-17  10.0693  10.1177   9.7090   9.7090   5672995
2008-11-18   9.7815   9.7815   9.1611   9.6285   7464784
2008-11-19   9.6676   9.7608   9.2083   9.2083   8047156
2008-11-20   9.2325  10.2443   9.2325  10.0256  16092839
2008-11-21  10.0590  10.1177   9.5675   9.6906   8265425
2008-11-24   9.8253  10.3248   9.7838  10.2892   8037210
2008-11-25  10.2604  10.4630   9.9577  10.1188   8992931
2008-11-26  10.1177  10.6932  10.0739  10.6402   7737077
2008-11-27  10.7058  10.7887  10.1729  10.3594   7929645
2008-11-28  10.3248  10.3824  10.0026  10.0613   7123098
2008-12-01   9.9853  10.1326   9.7263   9.7424   5643245
2008-12-02   9.4627  10.0509   9.4627   9.9001   7936522
2008-12-03   9.9438  10.3732   9.9220  10.3732   6391846
2008-12-04  10.4169  10.5896   9.9001  10.0728   9125617
...             ...      ...      ...      ...       ...
2018-12-28  21.9700  22.1750  21.8950  22.0650   2700285
2018-12-31  22.1400  22.1700  21.9850  22.0750    766220
2019-01-02  22.0150  22.2850  21.5700  22.1100   2783942
2019-01-03  22.0850  22.2000  21.8950  22.1550   3506583
2019-01-04  22.3000  22.4750  22.0750  22.3400   3647157
2019-01-07  22.4100  22.4550  22.1650  22.3750   3496137
2019-01-08  22.4450  22.7700  22.3750  22.5850   4953416
2019-01-09  22.6700  22.7200  22.3050  22.3950   3771538
2019-01-10  22.3750  22.7350  22.3500  22.6100   3639291
2019-01-11  22.5200  22.8400  22.3000  22.4200   4930338
2019-01-14  22.2900  22.4400  22.1850  22.3800   3098510
2019-01-15  22.4450  22.5700  22.1250  22.3100   3668302
2019-01-16  22.3850  22.4600  22.1800  22.3350   3133575
2019-01-17  22.3550  22.4300  22.2200  22.3550   2863388
2019-01-18  22.5000  22.6650  22.4300  22.5550   5424565
2019-01-21  22.4750  22.5400  22.3800  22.4500   1980323
2019-01-22  22.4400  22.6250  22.3000  22.4550   3798651
2019-01-23  22.9950  23.2750  22.8000  23.1750   7670464
2019-01-24  23.0700  23.1150  22.8950  23.0750   5334620
2019-01-25  23.1450  23.4750  23.0700  23.3850   4711103
2019-01-28  23.2850  23.3700  23.0950  23.2150   3750427
2019-01-29  23.4000  23.4900  23.3250  23.4000   3138199
2019-01-30  23.4150  23.4200  23.2050  23.3300   3114316
2019-01-31  23.0000  23.1000  22.6550  23.0200   6522780
2019-02-01  23.0900  23.1500  22.8800  22.9450   3522066
2019-02-04  22.9500  23.1600  22.9500  23.1600   3789263
2019-02-05  23.1950  23.3800  23.0350  23.3600   4975875
2019-02-06  23.2500  23.4400  23.1650  23.4300   3229577
2019-02-07  23.2700  23.5350  23.2550  23.2750   4124910
2019-02-08  23.2450  23.3300  23.1050  23.2650   3346446

[2633 rows x 5 columns]

In [5]:
df.loc[:, 'op':'cl'].plot()